body {
  font-family: $font-family-base;
  font-weight: $font-light;
  font-size: 15px;
  line-height: 30px;
  color: $black;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding-left: $container-gutters;
  padding-right: $container-gutters;
}

.cover__img {
  @include cover-image();
} 

.sr-only {
  @extend %sr-only;
}