@font-face {
  font-family: "Boston";
  src: url("../fonts/Boston-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Boston";
  src: url("../fonts/Boston-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Boston";
  src: url("../fonts/Boston-SemiBold.woff2") format("woff2");
  font-weight: 500;
}