$container-width: 1220px;
$container-gutters: 20px;

// Typography
$font-family-base:     'Boston';

$font-light:    300;
$font-regular:  400;
$font-semibold: 500;

// Color palette
$primary: #1F35D4;
$secondary: #E160E4;
$black: #161616;
$white: #FFF;  
$grey: #E5E8FE;
$grey-lighter: #F5F6FD;
$grey-darker: #C3C8E9;

$spacer: 20px;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25), //5
    2: ($spacer * .5), //10
    3: ($spacer * .75), //15
    4: $spacer, //20
    5: ($spacer * 1.25), //25
    6: ($spacer * 1.5), //30
    7: ($spacer * 1.75), //35
    8: ($spacer * 2), //40
    9: ($spacer * 2.25), //45
    10: ($spacer * 2.5) //50
  ),
  $spacers
);

// Grid breakpoints
$grid-breakpoints: ();
$grid-breakpoints: map-merge(
  (
    xs: 320,
    sm: 768px,
    md: 1024px,
    lg: 1170px,
    xl: 1420px
  ),
  $grid-breakpoints
); 