.select {
  padding: map-get($spacers, 2) map-get($spacers, 3) map-get($spacers, 2) map-get($spacers, 8);
  background-color: $grey-lighter;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: $font-semibold;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';

  &__user {
    background-image: url('../images/user.svg');
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: map-get($spacers, 2) center;
  }
}